<div class="row justify-content-center">
    <div class="col-lg-4 col-md-6 mb-2 d-flex" *ngFor="let car of getCars(viewProperties.sorted, viewProperties.shuffle) | slice:0: viewProperties.limitedView ? viewProperties.defaultCarsCount : carsForRent.length ; let i=index">
        <div class="rent-item mb-4">
            <img class="mb-4 img-fluid img-rounded" [src]="car.image" alt="">
            <h4 class="text-uppercase mb-4">{{ car.name }}</h4>
            <div class="d-flex justify-content-center mb-4">
                <!-- <div class="px-2">
                    <i class="fa fa-car text-primary mr-1"></i>
                    <span>2015</span>
                </div> -->
                <!-- <div class="px-2">
                    <i class="fa fa-cogs text-primary mr-1"></i>
                    <span>Transmission : {{ car.specs.type }}</span>
                </div> -->
                <!-- <div class="px-2">
                    <i class="fa fa-road text-primary mr-1"></i>
                    <span>25K</span>
                </div> -->
            </div>
            <a class="btn btn-primary px-3" [href]="getWhatsappContact()">₹ {{ car.specs.price }} / Day</a>
        </div>
    </div>
</div>