<!-- Page Header Start -->
<div class="container-fluid page-header">
    <h1 class="display-3 text-uppercase text-white mb-3">Privacy Policy</h1>
    <div class="d-inline-flex text-white">
        <h6 class="text-uppercase m-0"><a class="text-white" href="">Home</a></h6>
        <h6 class="text-body m-0 px-3">/</h6>
        <h6 class="text-uppercase text-body m-0">Privacy Policy</h6>
    </div>
</div>
<!-- Page Header Start -->

<div class="container mt-5">
    <b>What personal information do we collect from the people that visit our blog, website or app?</b>
    When ordering or registering on our site, as appropriate, you may be asked to enter your name, email address, mailing address, phone number or other details to help you with your experience.
    <br>
    
    <b>When do we collect information?</b>
    We collect information from you when you fill out a form or enter information on our site.
    <br><br>
    <b>How do we use your information?</b>
    We may use the information we collect from you when you register, make a purchase, sign up for our newsletter, respond to a survey or marketing communication, surf the website, or use certain other site features in the following ways: To allow us to better service you in responding to your customer service requests. To quickly process your transactions.
    <br>
    <b>How do we protect visitor information?</b>
    We do not use vulnerability scanning and/or scanning to PCI standards.
    We do not use Malware Scanning.
    We do not use an SSL certificate
    We do not need an SSL because We are providing information about automobiles available at our Showroom. We are also making a &quot;post service done&quot; payment for customer. Thus we do not an SSL certificate.
    <br>
    <b>Do we use &quot;cookies&quot;?</b> We do not use cookies for tracking purposes You can choose to have your computer warn you each time a cookie is being sent, or you can choose to turn off all cookies. You do this through your browser (like Internet Explorer) settings. Each browser is a little different, so look at your browser`s Help menu to learn the correct way to modify your cookies.
    If you disable cookies off, some features will be disabled that make your site experience more efficient and some of our services will not function properly.
    However, you can still place orders .<br>
    <b>Account Deletion </b>We respect your privacy and provide you with the option to delete your account at any time. When you choose to delete your account on our platform, please be aware of the following:Data Removal: Upon account deletion, we will take steps to remove your personal information from our active databases. This includes your profile information and other content associated with your account.<b>Contacting Us for Data Deletion Requests:</b>
    <br>
    If you, as a user of our service, wish to request the deletion of your personal data, please follow the steps below:
    
    Email Request: Send an email to our designated data privacy contact at info@example.com . In the subject line, please specify &quot;Data Deletion Request.&quot; In the body of the email, clearly state that you are requesting the deletion of your personal data and provide any additional information that may assist us in locating and processing your request.
    
    <b>Written Request</b>: You can also send a written request to info@example.com Please ensure that your request includes your full name, contact information, and a clear statement indicating your request for the deletion of your personal data.
    <br>
    
    Please note that the time required to complete the data deletion process may vary depending on the volume and complexity of the data. We will make reasonable efforts to fulfill your request within the required timeframe as mandated by applicable data protection laws.
    <br>
    <p>If you have any questions or need further assistance regarding the data deletion process, please do not hesitate to contact our data privacy team at 9539580000.</p>
    <b>Third Party Disclosure</b><br>
    We do not sell, trade, or otherwise transfer to outside parties your personally identifiable information.
    <br>
    <b>Third party links</b><br>
    We do not include or offer third party products or services on our website.
    <br>
    <b>We have implemented the following:</b>
    Demographics and Interests Reporting. We along with third-party vendors, such as Google use first-party cookies (such as the Google Analytics cookies) and third-party cookies (such as the DoubleClick cookie) or other third-party identifiers together.
    <br>
    <b>To analyze our website Opting out:</b>
    Users can set preferences for how Google advertises to you using the Google Ad Settings page. Alternatively, you can opt out by visiting the Network Advertising initiative opt out page or permanently using the Google Analytics Opt Out Browser add on.
    <br>
    <b>COPPA (Children Online Privacy Protection Act)</b><br>
    When it comes to the collection of personal information from children under 13, the Children&#x27;s Online Privacy Protection Act (COPPA) puts parents in control. The Federal Trade Commission, the nation&#x27;s consumer protection agency, enforces the COPPA Rule, which spells out what operators of websites and online services must do to protect children&#x27;s privacy and safety online.
    We do not specifically market to children under 13.
    <br>
    <b>Fair Information Practices</b>
    The Fair Information Practices Principles form the backbone of privacy law in the United States and the concepts they include have played a significant role in the development of data protection laws around the globe. Understanding the Fair Information Practice Principles and how they should be implemented is critical to comply with the various privacy laws that protect personal information.
    In order to be in line with Fair Information Practices we will take the following responsive action, should a data breach occur:
    We will notify the users via email Within 7 business days
    We also agree to the individual redress principle, which requires that individuals have a right to pursue legally enforceable rights against data collectors and processors who fail to adhere to the law. This principle requires not only that individuals have enforceable rights against data users, but also that individuals have recourse to courts or a government agency to investigate and/or prosecute non-compliance by data processors.
    <br>
    <b>CAN SPAM Act</b><br>
    The CAN-SPAM Act is a law that sets the rules for commercial email, establishes requirements for commercial messages, gives recipients the right to have emails stopped from being sent to them, and spells out tough penalties for violations.
</div>