<!-- Page Header Start -->
<div class="container-fluid page-header">
    <h1 class="display-3 text-uppercase text-white mb-3">FAQ</h1>
    <div class="d-inline-flex text-white">
        <h6 class="text-uppercase m-0"><a class="text-white" href="">Home</a></h6>
        <h6 class="text-body m-0 px-3">/</h6>
        <h6 class="text-uppercase text-body m-0">FAQ</h6>
    </div>
</div>
<!-- Page Header Start -->

<div class="container">
        <p>Welcome to ezwaycar! We offer a wide range of self-drive cars to meet your travel needs, whether for leisure or business. Enjoy the freedom of the road with our reliable and well-maintained vehicles.</p>
        
        <p>1. How do I book a car and what payment methods are accepted?<br>
        You can book a car by calling us or messaging us on WhatsApp. We accept payments in cash or via UPI.</p>
        
        <p>2. What is the payment policy for my booking?<br>
        The full amount for your booking must be paid in advance before taking delivery of the car. No partial or post-payment options are available.</p>
        
        <p>3. Do I need to be present to pick up the vehicle?<br>
        Yes, the person who made the booking must be physically present at the time of pickup. They must present their original ID and fill out a booking form before taking delivery of the vehicle.</p>
        
        <p>4. What is the minimum age to rent a vehicle?<br>
        The minimum age to rent a vehicle from Ezwaycar is 18 years, provided you hold a valid driving license. For foreign nationals, having an International Driving Permit (IDP) is also required.</p>
        
        <p>5. What identity proof do I need to provide at pickup?<br>
        At the time of vehicle pickup, you must provide valid identity proof.</p>
        
        <p>For Indian nationals: Please present your driving license along with 1-2 additional proofs of identity (e.g., Aadhaar card, passport, or voter ID).<br>
        For foreign nationals: You will need to show your passport and an International Driving Permit (IDP) issued in your country, which confirms your legal ability to drive.<br>
        6. What should I do at the time of pickup?<br>
        We recommend taking a photo of the odometer to record the starting kilometer reading. Additionally, please take photos and videos of the vehicle from various angles. This documentation will help you establish the car's condition at the time of pickup and protect you against any disputes regarding damages that may occur during your rental period.</p>
        
        <p>7. What is the daily kilometer limit for rentals?<br>
        Each rental comes with a daily limit of 300 kilometers, allowing you to explore freely without worries.</p>
        
        <p>8. What happens if I exceed the 300-kilometer limit?<br>
        If you exceed the daily limit of 300 kilometers, additional charges will apply. The cost will depend on the specific car model and type you rented.</p>
        
        <p>9. How are the excess kilometer charges calculated?<br>
        Excess charges are calculated based on the car type and will be clearly outlined in your rental agreement. Please review this information before your rental begins.</p>
        
        <p>10. Is there a way to increase my kilometer limit?<br>
        Yes! You can purchase additional kilometers at the time of booking or during your rental period. Please contact our support team for more details.</p>
        
        <p>11. Can I track my kilometers during the rental?<br>
        Yes, you can track your kilometers through the vehicle&rsquo;s odometer, which is accessible throughout your rental period.</p>
        
        <p>12. What is the booking and return policy?<br>
        All bookings operate on a 24-hour clock. For example, if you pick up the car at 10 AM today, you are expected to return it by 10 AM tomorrow. The vehicle must be returned to the same location from which it was picked up. If you return the car more than one hour late, a charge equivalent to one day's rent will apply.</p>
        
        <p>13. When will my security deposit be refunded?<br>
        The security deposit will be returned within 7-10 business days after the booking end date, following a review for any outstanding challans, fines, damages, or disputes.</p>
        
        <p>14. What are the cancellation charges?<br>
        Cancellation charges are as follows:</p>
        <ul>
            <li>More than 24 hours before delivery: &#8377;500</li>
            <li>4 to 24 hours before delivery: &#8377;1,000</li>
            <li> Less than 4 hours before delivery: One day&rsquo;s rent</li>
        </ul>

        <p>15. Can I extend my rental period?<br>
        Yes, you can extend your rental period based on availability. However, you must inform us at least 48 hours in advance if you wish to extend your booking. If the car has no subsequent bookings, you can extend your rental by paying for the additional period.</p>
        
        <p>16. Who is responsible for damages or incidents?<br>
        As the customer, you will bear the costs of any incidents or damages to the vehicle during your rental period. All repairs must be conducted through authorized Original Equipment Manufacturer (OEM) service centers only. Unauthorized services or mechanics are not permitted.</p>
        
        <p>17. What if the vehicle is in a service center for repairs?<br>
        In case of major accidents or damages, insurance claims can be processed. However, if the vehicle is in the service center for repairs, you will be responsible for paying daily rent for the duration of the repairs, in addition to the repair costs.</p>
        
        <p>18. What about fuel and Fastag?<br>
        The car will be delivered with enough fuel to reach the nearest fuel station, and you are expected to return it at the same fuel level. If the car is returned with less fuel, you will be charged for the amount needed to top up, along with a refueling fee of &#8377;500. During pickup, our representative will explain how to recharge the Fastag for the vehicle. Any extra fuel left in the car or unused balance in the Fastag will not be refunded. You are solely responsible for topping up the Fastag to the required amount for your journey.</p>
        
        <p>19. What about cleaning fees?<br>
        You are expected to return the car in the same clean condition it was received. If the car requires cleaning beyond normal wear and tear, you will be charged a cleaning fee based on its condition at the time of drop-off. If a deep clean or car wash is necessary, additional charges will apply.</p>
        
        <p>20. Are there any other fees I should be aware of?<br>
        In addition to excess kilometer charges, cancellation fees, fuel charges, and potential cleaning fees, please note that tolls and other incidentals may apply. Refer to our rental agreement for a complete list of potential fees.</p>
        
        <p>21. How can I contact Ezwaycar for further questions?<br>
        You can reach our customer support team through our website&rsquo;s contact page, via email, or by calling our hotline.</p>
</div>